<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Student</title>
</head>
<body>
    <form action="/student-add" method="POST">
        <div>
            <label>Enter Your First Name: 
                <input type="text" name="first_name">
            </label>
        </div>
        <div>
            <label>Enter Your Last Name: 
                <input type="text" name="last_name">
            </label>
        </div>
        <div>
            <label>Enter Your GitHub Username: 
                <input type="text" name="github">
            </label>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>